.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: var(--orange-color);
    padding: 30px
}

.story, .more-story {
    justify-items: center;
    text-align: left;
    margin:auto;
    max-width: 70%;
}

 /* This is the button that opens and closes the text */
.more, .close-more {
    margin: auto;
    max-width: 200px;
    text-align: center;
}

.more:hover, .close-more:hover {
    text-decoration: underline;
    cursor: pointer;
}



