.main {
    background-color: var(--orange-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.story, .more-story {
    text-align: left;
}

 /* This is the button that opens and closes the text */
.more, .close-more {
    text-align: center;
}

.more:hover, .close-more:hover {
    text-decoration: underline;
    cursor: pointer;
}


