.footer-container {    
  background-color: var(--high-blue);
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
img {
  width: 100px;
  margin: auto;
  text-align: center;
}
