.technologies-container {
    background-color: var(--pur-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.all-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin:auto;
    padding-top: 20px; 
}


