@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Mono&display=swap');

:root {
  --high-blue: hsl(212, 59%, 70%);
  --orange-color: hsl(27, 70%, 58%);
  --pur-color: hsl(248, 12%, 64%);
  --fish-color: hsl(260, 9%, 87%);
  --gunmetal: hsl(185, 13%, 18%);
  --gradient: linear-gradient(to bottom, hsl(207, 70%, 58%), hsl(260, 9%, 87%));
--elevated-shadow-blue: 
  1px 2px 2px hsl(212, 59%, 70% / 0.058),
  2px 4px 4px hsl(212, 59%, 70% / 0.105),
  4px 8px 8px hsl(212, 59%, 70% / 0.172),
  8px 16px 16px hsl(212, 59%, 70% / 0.3);
--elevated-shadow-black: 
  1px 2px 2px rgba(0,0,0, 0.058),
  2px 4px 4px rgba(0,0,0, 0.105),
  4px 8px 8px rgba(0,0,0, 0.172),
  8px 16px 16px rgba(0,0,0, 0.3);

  --mid-shadow-blue:
  1px 2px 2px hsl(212, 59%, 70% / 0.333),
  2px 4px 5px hsl(212, 59%, 70% / 0.333),
  3px 6px 8px hsl(212, 59%, 70% / 0.333);

  --mid-shadow-black:
  1px 2px 2px rgba(0,0,0,0.5),
  2px 4px 5px rgba(0,0,0,0.7),
  3px 6px 8px rgba(0,0,0,0.9);

  --close-shadow-blue: 
  0.5px 1px 4px hsl(212, 59%, 70% / 0.058),
  1px 1.5px 8px hsl(212, 59%, 70% / 0.058);

  --close-shadow-black: 
  0.5px 1px 4px rgba(0, 0, 0, 0.43),
  1px 1.5px 8px rgba(0, 0, 0, 1);

}

.App {
  font-family: 'PT Mono', monospace;
  text-align: center;
  margin: 0;
}

@keyframes opacity-easeOutElastic {
	0% {
		opacity: 1;
	}

	16% {
		opacity: -0.32;
	}

	28% {
		opacity: 0.13;
	}

	44% {
		opacity: -0.05;
	}

	59% {
		opacity: 0.02;
	}

	73% {
		opacity: -0.01;
	}

	88% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}

}